.CoffeeCup{
    width: 50%;
    height: auto;
    border: 5px;
    
    animation-name: coffeCup;
    animation-duration: 8s;
    animation-iteration-count: unset;
    
}

@keyframes coffeCup {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% { 
  transform: rotate(360deg);
  }
}
